<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<form action="/download" method="POST">
		<div >
            <label>Paste The URL Here</label>
            <input class="URL-input" placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q" name="url">
        </div>
        <input class="ui violet big basic button" type="submit">
	</form>
    <script src='scripts.js'></script>
</body>
</html>